{% extends 'writeups/base_user.html' %}
{% load static %}
{% block title %}
  <title> Moonlight: Profile </title>
 {% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'writeups/css/profile.css' %}"/>
{% endblock %}

{%block head_title %}
	Author Profile
{% endblock %}

{% block mainBody %}
<div class="about-cont col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="row">
					<div class="img-username col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="bio-img-cont">
							{% if user_details.photo %}
								<img src="{{ user_details.photo.url }}" class="bio-img img-circle" />
							{% else %}
								<img src="{% static 'writeups/images/default.jpg' %}" class="bio-img img-circle" />
							{% endif %}
						</div>
					</div>
					<div class="each-section personal col-xs-12 col-sm-7 col-md-7 col-lg-7">
						<div class="section-content">
							<div class="row">
								<div class="username">
									{{user_details.username}}
									{% if user.is_authenticated and user.id == request_user.id%}
										&nbsp <a href="{% url 'writeups:update_about' user.pk %}" class="btn btn-default fa fa-pencil"> Edit profile </a>
									{% endif %}
								</div>

								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<span class="section-label"> First Name: </span>
									<span class="section-value"> {{user_details.firstname}} </span>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<span class="section-label"> Last Name: </span>
									<span class="section-value"> {{user_details.lastname}} </span>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<span class="section-label"> Mobile: </span>
									<span class="section-value"> {{user_details.mobile_no}} </span>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<span class="section-label"> Age: </span>
									<span class="section-value"> {{user_details.age}} </span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="each-section">
					<div class="section-header"> BRIEF BIOGRAPHY </div>
					<div class="section-content">
						<div class="row">
							<div class="section-value">
								{{user_details.bio}}
							</div>
						</div>
					</div>
				</div>

				<div class="each-section">
					<div class="section-header"> EDUCATION </div>
					<div class="section-content">
						<div class="row">
							<div class="section-value">
								{{user_details.school}}
							</div>
						</div>
					</div>
				</div>

				<div class="each-section">
					<div class="section-header"> FAVOURITE QUOTE </div>
					<div class="section-content">
						<div class="row">
							<div class="section-value">
								{{user_details.quote}}
							</div>
						</div>
					</div>
				</div>

				<div class="each-section">
					<div class="section-header"> FAVOURITE GENRE(S) </div>
					<div class="section-content">
						<div class="row">
							<div class="section-value">
								{{user_details.genre}}
							</div>
						</div>
					</div>
				</div>
              </div>

{% endblock %}
