{% extends 'writeups/base_read.html' %}
{% load static %}

{% block head_title %}
	WRITEUPS BY {{username}}
{% endblock %}

{% block select %}
	<a href="{% url 'writeups:author_read' username 'all' %}?page=1"> <li value="all"> All </li> </a>
	<a href="{% url 'writeups:author_read' username 'Poetry'  %}"> <li value="Poetry"> Poetry </li> </a>
	<a href="{% url 'writeups:author_read' username 'Short Story' %}"> <li value="Short Story"> Short Stories </li> </a>
	<a href="{% url 'writeups:author_read' username 'Essay' %}"> <li value="Essay"> Essays </li> </a>
	<a href="{% url 'writeups:author_read' username 'Folklore' %}"> <li value="Folklore"> Folklores </li> </a>

{% endblock %}

