{% extends 'writeups/base_user.html' %}
{% load static %}
{% block title %}
  <title> Moonlight: Dashboard </title>
 {% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'writeups/css/dashboard.css' %}"/>
{% endblock %}

{%block head_title %}
	Dashboard
{% endblock %}

{% block mainBody %}
	<div class="col-xm-12 col-sm-4 col-md-4 col-lg-4 each-column">
			<div class="content-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="content-subsection">
					<div class="section-header"><span class="header-title">Poems</span> <span class="header-no"> {{poems.count}} </span></div>
					<div class="section-body">

					{% if not poems %}
						<div class="empty"> You currently do not have any poem <a href="{% url 'writeups:write' %}"> Add writeup </a></div>
					{% else %}
						{% for poem in poems|slice:"0:2" %}
							<div class="each-content">
								<div class="each-title">
									<a href="{% url 'writeups:writeup' poem.id %}"> {{poem.title}} </a>
									{% if user.is_authenticated and user.id == request_user.id %}
										<form method="get" class="inline-form" action="{% url 'writeups:edit' poem.pk %}">
											{% csrf_token %}
											<button type="submit" value=""> <span class="fa fa-pencil"></span></button>
										</form>
										<form method="post" class="inline-form" action="{% url 'writeups:delete' poem.pk %}">
											{% csrf_token %}
											<button type="submit" value=""> <span class="fa fa-trash"></span></button>
										</form>
									{% endif %}
								</div>
								<div class="date-submitted">{{poem.time}}</div>
								<div class="writeup"> {{ poem.text | slice:":100" | add:"..."}}</div>
								<div class="content-reactions row">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<span class="fa fa-thumbs-o-up reaction-icon"> </span>
										<span class="reaction-count">{{poem.likes}}</span>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<span class="fa fa-comment-o reaction-icon"> </span>
										<span class="reaction-count">{{poem.comments}}</span>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<span class="fa fa-star-o reaction-icon"> </span>
										<span class="reaction-count">{{poem.favourites}}</span>
									</div>
								</div>
							</div>
						{% endfor %}
						<a href="{% url 'writeups:author_read' request_user 'Poetry' %}"><div class="readall">View All</div></a>
					{% endif %}
					</div>
				</div>	
			</div>
			
			<div class="content-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="content-subsection">
					<div class="section-header"><span class="header-title">Short Stories</span> <span class="header-no"> {{short_stories.count}} </span></div>
					<div class="section-body">
						{% if not short_stories %}
							<div class="empty"> You currently do not have any short stories <a href="{% url 'writeups:write' %}"> Add writeup </a></div>
						{% else %}
						{% for short_story in short_stories|slice:"0:2" %}
							<div class="each-content">
								<div class="each-title">
									<a href="{% url 'writeups:writeup' short_story.id %}"> {{short_story.title}} </a>
									{% if user.is_authenticated and user.id == request_user.id %}
										<form method="get" class="inline-form" action="{% url 'writeups:edit' short_story.pk %}">
											{% csrf_token %}
											<button type="submit" value=""> <span class="fa fa-pencil"></span></button>
										</form>
										<form method="post" class="inline-form" action="{% url 'writeups:delete' short_story.pk %}">
											{% csrf_token %}
											<button type="submit" value=""> <span class="fa fa-trash"></span></button>
										</form>
									{% endif %}
								</div>
								<div class="date-submitted">{{short_story.time}}</div>
								<div class="writeup"> {{short_story.text | slice:"0:100" | add:"..."}} </div>
								<div class="content-reactions row">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<span class="fa fa-thumbs-o-up reaction-icon"> </span>
										<span class="reaction-count">{{short_story.likes}}</span>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<span class="fa fa-comment-o reaction-icon"> </span>
										<span class="reaction-count">{{short_story.comments}}</span>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<span class="fa fa-star-o reaction-icon"> </span>
										<span class="reaction-count">{{short_story.favourites}}</span>
									</div>
								</div>
							</div>
						{% endfor %}
						<a href="{% url 'writeups:author_read' request_user 'Short Story' %}"><div class="readall">View All</div></a>
						{% endif %}
					</div>
				</div>
			</div>
	</div>
	
	<div class="col-xm-12 col-sm-4 col-md-4 col-lg-4 each-column">
        <div class="content-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="content-subsection">
                <div class="section-header"><span class="header-title"> Essays </span> <span class="header-no"> {{essays.count}} </span></div>
                <div class="section-body">
					{% if not essays %}
                        <div class="empty"> You currently do not have any Essays <a href="{% url 'writeups:write' %}"> Add writeup </a></div>
                    {% else %}
						{% for essay in essays|slice:"0:2" %}
                        <div class="each-content">
                            <div class="each-title">
									<a href="{% url 'writeups:writeup' essay.id %}"> {{essay.title}} </a>
									{% if user.is_authenticated and user.id == request_user.id %}
										<form method="get" class="inline-form" action="{% url 'writeups:edit' essay.pk %}">
											{% csrf_token %}
											<button type="submit" value=""> <span class="fa fa-pencil"></span></button>
										</form>
										<form method="post" class="inline-form" action="{% url 'writeups:delete' essay.pk %}">
											{% csrf_token %}
											<button type="submit" value=""> <span class="fa fa-trash"></span></button>
										</form>
									{% endif %}
								</div>
                            <div class="date-submitted">{{essay.time}}</div>
                            <div class="writeup"> {{essay.text | slice:"0:100" | add:"..."}} </div>
                            <div class="content-reactions row">
                              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span class="fa fa-thumbs-o-up reaction-icon"> </span>
                                <span class="reaction-count">{{essay.likes}}</span>
                              </div>
                              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span class="fa fa-comment-o reaction-icon"> </span>
                                <span class="reaction-count">{{essay.comments}}</span>
                              </div>
                              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span class="fa fa-star-o reaction-icon"> </span>
                                <span class="reaction-count">{{essay.favourites}}</span>
                              </div>
                            </div>
                          </div>
						{% endfor %}
					<a href="{% url 'writeups:author_read' request_user 'Essay' %}"><div class="readall">View All</div></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="content-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="content-subsection">
                <div class="section-header"><span class="header-title">Folklores</span> <span class="header-no"> {{folklores.count}} </span></div>
				<div class="section-body">
					{% if not folklores %}
                        <div class="empty"> You currently do not have any folklores <a href="{% url 'writeups:write' %}"> Add writeup </a></div>
                    {% else %}
						{% for folklore in folklores|slice:"0:2" %}
                            <div class="each-content">
								<div class="each-title">
									<a href="{% url 'writeups:writeup' folklore.id %}"> {{folklore.title}} </a>
									{% if user.is_authenticated and user.id == request_user.id %}
										<form method="get" class="inline-form" action="{% url 'writeups:edit' folklore.pk %}">
											{% csrf_token %}
											<button type="submit" value=""> <span class="fa fa-pencil"></span></button>
										</form>
										<form method="post" class="inline-form" action="{% url 'writeups:delete' folklore.pk %}">
											{% csrf_token %}
											<button type="submit" value=""> <span class="fa fa-trash"></span></button>
										</form>
									{% endif %}
								</div>
								<div class="date-submitted">{{folklore.time}}</div>
								<div class="writeup"> {{folklore.text | slice:"0:100" | add:"..."}} </div>
								<div class="content-reactions row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<span class="fa fa-thumbs-o-up reaction-icon"> </span>
									<span class="reaction-count">{{folklore.likes}}</span>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<span class="fa fa-comment-o reaction-icon"> </span>
									<span class="reaction-count">{{folklore.comments}}</span>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<span class="fa fa-star-o reaction-icon"> </span>
									<span class="reaction-count">{{folklore.favourites}}</span>
								  </div>
								</div>
							</div>
                        {% endfor %}
					<a href="{% url 'writeups:author_read' request_user 'Folklore' %}"><div class="readall">View All</div></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
	
	<div class="col-xm-12 col-sm-4 col-md-4 col-lg-4 each-column">
		<div class="award-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="award-subsection">
                  <div class="award-header">You currently have <span class="award-no"> 25 </span> followers </div>
                  <a href="{% url 'writeups:followers' request_user %}" class='readmore'> View all your followers</a>
                </div>
		</div>

		<div class="award-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="award-subsection">
                  <div class="award-header">You are currently following <span class="award-no"> 10 </span> Authors </div>
                  <a href="{% url 'writeups:followings' request_user %}" class='readmore'> View all authors you are folowing</a>
                </div>
		</div>
    </div>

{% endblock %}
