{% extends 'writeups/base_follow.html' %}
{% load static %}

{% block title %} 
	<title>Moonlight: Followings</title>
{% endblock %}

{% block head_title %} 
	FOLLOWING
	<div class="right-side btn btn-default"> <a  href="{% url 'writeups:followers' requested_user%}"> View Followers </a></div>
{% endblock %}

{% block follow_text %}
	You started following on
{% endblock %}

{% block statement %}
	{% if user.is_authenticated and user.username == requested_user %}
			You are not following any author yet
	{% else %}
			 {{requested_user}} is not following any author yet
	{% endif %}
{%endblock statement%}