{% extends 'writeups/base_registrations.html' %}
{% load static %}
{% block title %}
    <title> Moonlight: Login </title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'writeups/css/login.css' %}">
{% endblock css%}

  {% block form %}
      <div class="form-cont-normal">
      {% if forms.non_field_errors %}
        <div class="alert alert-danger"> {{ forms.non_field_errors }} </div>
      {% endif %}

      <form action="{% url 'writeups:login' %}" method="post">
          <div class="image-logo-cont">
              <img src="{% static 'writeups/images/logo.png' %}" class="logo" alt="" />
          </div>
          <div class="form-header form-text-center"> Login </div>
          {% for form in forms %}
              {% csrf_token %}
            <div class="eachElement">
              <label class='form-label text-muted'> {{ form.label_tag }} </label> <br />
              <span> {{ form }}</span>
              <div class="error"> {{ form.error }}</div>
            </div>
          {% endfor %}

          <div class="eachElement">
              <input type="submit" name="" class='login-submit' value="Login">
          </div>

          <p>Dont have an account? <a href="{% url 'writeups:signup' %}" class='signup-link'> Sign up </a> </p>
      </form>
      </div>
{% endblock form %}