{% extends 'writeups/base_read.html' %}
{% load static %}

{% block head_title %}
	ALL READS
{% endblock %}

{% block select %}
	<a href="{% url 'writeups:read' 'all' 'recent' %}?page=1"> <li value="all"> All </li> </a>
	<a href="{% url 'writeups:read' 'Poetry' 'recent' %}"> <li value="Poetry"> Poetry </li> </a>
	<a href="{% url 'writeups:read' 'Short Story' 'recent' %}"> <li value="Short Story"> Short Stories </li> </a>
	<a href="{% url 'writeups:read' 'Essay' 'recent' %}"> <li value="Essay"> Essays </li> </a>
	<a href="{% url 'writeups:read' 'Folklore' 'recent' %}"> <li value="Folklore"> Folklores </li> </a>

{% endblock %}

