{% extends 'writeups/base.html'%}

{% load static %}

{% block title %}

    <title> Moonlight: Write </title>

{% endblock %}

{%block css%}
   <link rel="stylesheet" href="{% static 'writeups/css/write.css' %}" />
{%endblock%}



{% block mainBody %}
    <div class="writeup-body">
        <form method="post">
            {% csrf_token %}
        
            {% if form.non_field_errors %}
                <div class="errors">{{ form.non_field_errors | safe}}</div>
            {% endif %} 
        
            <div class="form-content">
                {% for field in form %}
                <div class="eachElement">
                    <div class="row">
                        <div class="error"> {{ field.error }}</div>
                        <div class='col-xs-2 col-sm-1 col-md-1 col-lg-1 label-cont'><label > {{ field.label_tag }} </label> </div>
                        <div class='col-xs-10 col-sm-11 col-md-11 col-lg-11 input-cont'> {{ field }} </div>
                    </div>
                    <div>
                        {% if form.help_text %}
                            <div class="help-text"> {{ field.help_text }} </div>
                        {%endif %}
                
                    </div>
                </div>
                {% endfor %}
                <div class="submit-cont">
                    <input type="submit" value="Submit Writeup" class="btn btn-default writeup-submit"/>
                </div>
                
            <div>
        </form>
    </div>
{% endblock %}