.body-head-section{
	background-image: url('../images/background-main.jpg');
	height: 500px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.text-cont{
	height: 500px;
	width: 100%;
	background-color: rgba(100, 100, 150, 0.5);
	text-align: center;
	padding-top: 170px;
}

.name{
	font-size: 24pt;
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: bolder;
}

.motto{
	font-size: 12pt;
	margin-top: 10px;
	font-family: monotype corsiva;
	font-weight: bolder;
}

.welcome-section{
	text-align: center;
	padding: 100px;
	padding-top: 20px;
	line-height: 3;
	font-size: 12pt;
}

.welcome-title{
	font-size: 30pt;
	font-family: monotype corsiva;
	color: blue;
	margin-bottom: 10px;
}

.welcome-note{
	color: rgb(100, 100, 100);
	margin-top: -50px;
}

.body-body-section{
	background-color: rgb(250, 250, 250);
	padding: 50px;
	padding-top: 10px;
	border: 1px solid rgb(220, 220, 220);
	padding-bottom: 30px;
}

.sect-title{
	text-align: center;
	font-size: 18pt;
	font-family: Sans serif;
	margin-bottom: 22px;
	font-style: italic;
}

.poem-title{
	color: rgb(100, 120, 200);
	font-size: 20pt;
	font-weight: bolder;
}

.author{
	color: brown;
	font-size: 10pt;
}

.poem{
	margin-top: 20px;
	font-size: 10pt;
	line-height: 1.5
}

.nav-cont{
	padding: 30px;
	padding-left: 30%;
	padding-right: 30%;
	background-color: rgb(200, 200, 200)
}

.each-nav{
	text-align: center;
}

.nav-test{
	margin-top: 15px;
	font-size: 12pt;
}

.body-nav-section{
	padding: 0px;
}


.nav-link{
	border: 1px solid rgb(100, 100, 200);
	width: 200px;
	margin-top: 20px;
	color: blue;
	font-weight: bolder;
	padding: 9px;
}

.footer-section{
	background-color: black;
	height: 450px;
	margin-top: 50px;
	padding: 20px;
}


.step-cont{
	padding-top: 100px;
	padding-bottom: 100px;
}

.step-text{
	text-align: center;
	margin-bottom: 50px;
	font-size: 24pt;
	font-weight: lighter
}

.each-step{
	text-align: center;
	color: blue;
	cursor: pointer;
	border: 1px solid rgb(240, 240, 240);
	padding: 60px 50px;
	height: 300px;
}

.each-step:hover{
	box-shadow: 1px 1px 2px rgb(200, 200, 200)
}

.no{
	font-size: 18pt;
	color: black;
	margin-bottom: 40px;
}

.fa-icon{
	font-size: 30pt;
	margin-bottom: 10px;
}

.text-act{
	color: black;
	font-size: 12pt;
}

.contact-cont{
	padding: 10px 100px;
}

.contact input{
	width: 100%;
	padding: 5px;
	margin: 2px;
}

.contact textarea{
	width: 100%;
	padding: 5px;
	margin: 2px;
	height: 200px;
}

.footer-header{
	font-size: 16pt;
	color: white;
	margin-bottom: 10px;
}

.quicklink{
	display: inline-block;
	margin-right: 25px;
	color: rgb(200, 200, 200)
}

.note{
	margin-top: 100px;
}

.quick-links{
	padding: 20px;
}

@media (max-width: 760px){
	.body-head-section{
		height: 300px;
	}

	.text-cont{
		height: 300px;
		padding-top: 170px;
	}
	
	.name{
		font-size: 20pt;
	}

	.motto{
		background-color: rgba(180, 180, 180, 0.5);
		padding: 5px;
	}
	
	.nav-cont{
		padding-left: 15%;
		padding-right: 15%;
	}
	
	.welcome-section{
		line-height: 1.8;
		padding: 40px;
		font-size: 11px;
	}
	
	.welcome-note{
		margin-top: -10px;
	}
	
	.body-body-section{
		padding: 20px;
	}
	
	.each-step{
		padding: 10pt;
		height: 200px;
	}
	
	.footer-section{
		height: 910px;
	}
	
	.contact-cont{
		padding: 10px;
		margin-bottom: 50px
	}
	
	.step-text{
		font-size: 16pt;
	}

}