body {
  background-color: rgba(200, 200, 200, 0.2);
}

.right-side{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('../images/right_side.jpg');
  background-size:cover;
  border-left: 2px solid black;
  background-repeat: no-repeat;
}

.left-inner-container{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(50, 50, 50, 0.8);
  z-index: 1;
  padding: 70px;
}

.name-cont {
  color: white;
  text-align: center;
  margin-top: 150px;
}

.bold-name{
  font-size: 40px;
  font-family: "Monotype Corsiva";
  font-weight: normal;
  font-style: italic;
}

.small-name{
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.categories-cont{
  background-color: rgba(100, 100, 100, 0.9);
  margin-top: 50px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
}

.category-header{
  color: white;
  font-size: 14pt;
  margin-bottom: 10px;
}

.cat-list{
  font-size: 10pt;
  color: white;
  margin-left: -15px;
  margin-bottom: 5px;
}

a {
  color: white;
}

a:hover{
  color: black;
  text-decoration: none;
}

@media(max-width: 760px){
  .right-side{
    display: none;
  }

  .left-inner-container{
    display: none;
  }


}
