a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.bio-img-cont{
	width: 100%;
	height: 350px;
	margin: 10px;
}

.bio-img{
	width: 100%;
	height: 100%;
	border: 2px solid rgb(70, 70, 70)
}

.username{
	text-align: center;
	font-size: 27pt;
}

.personal{
	margin-top: 30px;
	line-height: 5;
}

.each-section{
	padding: 20px;
	margin-bottom: 20px;
}

.section-header{
	background-color: rgb(250, 250, 250);
	padding: 10px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgb(220, 220, 220)
}

.section-content{
	padding: 15px;
	text-align: justify;
	line-height: 2;
}

.section-label{
	margin-right: 10px;
	color: rgb(200, 200, 200);
	font-weight: normal;
}

@media (max-width: 760px){
	.bio-img-cont{
		width: 70%;
		height: 250px;
		margin: 10px auto;
	}

	.personal{
		margin-top: 0px;
	}

	.about-cont{
		padding: 0px;
	}
}