.writeup-section{
	padding: 15px;
	padding-left: 30px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.writeup-header{
	margin-bottom: 40px;
}

.writeup_title{
	font-size: 24pt;
	color: rgb(100, 100, 200);
	font-family: times;
}

.writeup_author{
	color: brown;
	font-weight: bolder;
	margin-right: 50px;
}

.writeup-body{
	line-height: 1.8;
	text-align: justify;
	margin-bottom: 40px
}

.note-section{
	color: rgb(240, 240, 240);
	font-size: 10pt;
	margin-bottom: 20px;
}

.comment-section{
	background-color: rgb(250, 250, 250);
	margin-top: 40px;
	padding: 15px;
}

.each-comment{
	margin-bottom: 25px;
}

.img-section{
	width: 100px;
	height: 70px;
}

.comment-header{
	color: rgb(100, 100, 150);
	font-size: 10pt;
	margin-bottom: 5px;
}

.comment-body{
	font-size: 9pt;
}

.comment-img{
	width: 100%;
	height: 100%;
}

.others-out-cont{
	padding-right: 0px;
}

.others-section{
	background-color: rgb(250, 250, 250);
	border-radius: 7px;
	box-shadow: 2px 2px 2px grey;
	margin-top: 10px;
}

.others-header{
	font-size: 14pt;
	margin-bottom: 20px;
	padding: 15px;
}

.each-others{
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(240, 240, 240);
	padding: 15px;
	padding-top: 0px;
}

.each-title{
	font-size: 12pt;
	color: rgb(100, 100, 200);
}

.content-reactions{
	margin-top: 10px;
}

.all-comments{
	color: rgb(250, 100, 100);
	float: right;
	margin-right: 20px;
}

.react-form{
	width: 100%;
	margin-top: 40px;
}

.your_comment{
	width: 100%;
	height: 100px;
	border: 1px solid grey
}

.btn-default{
	color: blue;
	margin-right: 50px;
}
.comment-time{
	float: right;
	font-size: 11px
}

.view-all{
	float: right;
	color: brown
}

@media (max-width: 760px){
	.others-out-cont{
		padding: 0px;
		
	}
	
	.writeup-section{
		padding: 5px;
	}
	
	.writeup_title{
		font-size: 18pt;
	}

	.body-body{
		padding: 5px;
	}
	
	.btn-default{
		color: blue;
		margin-right: 0px;
		margin-top: 10px;
		font-size:10pt
	}

	.comment-time{
		font-size: 9pt;
	}

	.comment-cont{
		padding: 0px;
	}

}